body {
    /*background-color: #EFF3F4;*/
}

.is_shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}
.is_shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

footer {
    margin: 10px;
}

footer p {
    color: #726060;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.image-container {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.highlight-text {
    background-color: #ffdd57!important;
    font-weight: bold;
}