/*GENERAL*/

.x-fa-space {
    margin-right: 5px;
}

.red-text {
    color: red;
}

.orange-text {
    color: orange;
}

.has-container-margin {
    margin-top: 30px;
}

/*INDEX*/
#main-header {
    left: 50px;
    top: 110px;
    position: absolute;
    background-color: white;
}

#main-header h1 {
    font-size: 5rem;
    font-family: 'Barriecito', cursive;
}

.info {
    font-size: 2.0rem;
    background-color: #00d1b2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.info-main {
    margin-bottom: 5px;
    display: inline-block;
}

.brand-text {
    font-size: 3rem;
    font-family: 'Barriecito', cursive;
}

.title {
    font-family: 'Barriecito', cursive;
}

.description {
    font-size: 1.5rem;
    margin-top: 10px;
}

.promotion-list {
    margin-bottom: 10px;
}

.promotion-item {
    display: inline-block;
    margin-right: 10px;
}


.tech_item {
    border-radius: 6px;
    padding-top: 1.25rem;
    position: relative;
}

.tech_column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.tech_item {
    border-radius: 6px;
    color: #7a7a7a;
    display: block;
    font-size: 1.25rem;
    padding: 1rem 3rem 1.5rem 5rem;
    position: relative;
    transition-duration: 86ms;
    transition-property: background-color,color;

}

.tech_item:hover {
     background-color: #fafafa;
}