/*GENERAL*/

.x-fa-space {
    margin-right: 5px;
}

.red-text {
    color: red;
}

.orange-text {
    color: orange;
}

.has-container-margin {
    margin-top: 30px;
}


.info {
    font-size: 2.0rem;
    background-color: #00d1b2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}

.brand-text {
    font-size: 3rem;
    font-family: 'Barriecito', cursive;
}

.title {
    font-family: 'Barriecito', cursive;
}

.description {
    font-size: 1.5rem;
    margin-top: 10px;
}

.promotion-list {
    margin-bottom: 10px;
    text-align: center;
}

.promotion-item {
    display: inline-block;
    margin-right: 10px;
}


.tech_item {
    border-radius: 6px;
    padding-top: 1.25rem;
    position: relative;
}

.tech_column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.tech_item {
    border-radius: 6px;
    color: #7a7a7a;
    display: block;
    font-size: 1.25rem;
    padding: 1rem 3rem 1.5rem 5rem;
    position: relative;
    transition-duration: 86ms;
    transition-property: background-color,color;

}

.tech_item:hover {
     background-color: #fafafa;
}

.navbar-right-item {
    font-size: 1.8rem;
    display: flex;
}

.navbar-x {
    min-height: 3.25rem;
    align-items: stretch;
    display: flex;
}

.navbar-brand-x {
    margin-left: -.75rem;

}
.navbar-item-x {
    display: flex;
    align-items: center;
}
.navbar-end-x {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.title-x {
    font-size: 2rem;
}

@media screen and (min-width: 1024px) {
    .title-x {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .main-container {
        margin: 0px auto;
        margin-left: 2%;
        margin-right: 2%;
        /*margin-left: 2%;*/
        /*margin-right: 2%;*/
    }
}

/*INDEX*/
#main-header {
    position: absolute;
    background-color: white;
}

#main-header h1 {
    font-family: 'Barriecito', cursive;
    text-align: center;
}



.info-main {
    background-color: #00d1b2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;

    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.9rem;
}



#main-header {
    top: 110px;
}

@media screen and (min-width: 1400px) {
    .info-main {
        font-size: 1.9rem !important;
    }
    #main-header {
        left: 5%;
    }
}
@media screen and (max-width: 1400px) {
    .info-main {
        font-size: 1.5rem !important;
    }
    #main-header {
        left: 5%;
    }
}

@media screen and (max-width: 1250px) {
    .info-main {
        font-size: 1.3rem !important;
    }
    #main-header {
        left: 5%;
    }
}





@media screen and (min-width: 1250px) {
    .doc-links {
        float: right !important
    }
}
@media screen and (max-width: 1250px) {
    .doc-links {
        display: block;
    }
}